html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  max-width: 100%;
  white-space: normal;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

.navbar {
  height: 100%;
  border-right: 1px solid #eaeaea;
  flex-direction: column;
  display: flex;
}

.navbar_change-profile {
  justify-content: center;
  align-items: center;
}

.navbar__link {
  width: 28px;
  height: 28px;
  background: #3369f3;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: rotate(180deg);
}

.chat-container {
  height: calc(100vh - 102px);
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  width: 0;
  background: none;
}

.messenger-grid {
  height: 100%;
  grid-template-columns: 310px calc(100vw - 310px);
  display: grid;
}

.messenger-grid_change-profile {
  grid-template-columns: 64px calc(100vw - 64px);
}

.active-chat {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.active-chat_not-selected {
  justify-content: center;
  align-items: center;
}

.active-chat__sign {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.search-header {
  height: 102px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 23px;
  margin: 0 10px;
  padding: 20px 0 14px;
  display: flex;
}

.search-header__link {
  color: #999;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-decoration: none;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  transform-origin: 0;
  cursor: text;
  background: #efefef;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  transition: justify-content .2s, height .2s;
  display: flex;
}

.search-input__input {
  width: 70px;
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  transition: width .2s;
}

.search-input__input:focus, .search-input__input:not(:placeholder-shown) {
  width: 100%;
}

.chat {
  cursor: pointer;
  width: 290px;
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
}

.chat_selected {
  width: 100%;
  background: #e4edfd;
  margin: 0;
  padding: 10px;
}

.chat__info-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
}

.chat__avatar {
  width: 47px;
  height: 47px;
  object-fit: cover;
  border-radius: 24px;
}

.chat__info-user {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.chat__username {
  color: #1e1e1e;
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

.chat__last-message {
  color: #999;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.chat__last-message_is-your {
  color: #1e1e1e;
  font-weight: 600;
}

.chat__message-info {
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  display: flex;
}

.chat__time {
  color: #999;
  margin: 0;
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
}

.chat__unread-message {
  width: 20px;
  height: 20px;
  color: #fff;
  background: #3369f3;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  display: flex;
}

.chat-header {
  height: 54px;
  box-sizing: border-box;
  width: calc(100vw - 350px);
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  display: flex;
  position: relative;
}

.chat-header__user-info {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: flex;
}

.chat-header__avatar-user {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 24px;
}

.chat-header__username {
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

.chat-header__button {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  border-radius: 12px;
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chat-header__button svg circle {
  fill: #1e1e1e;
}

.chat-header__button_checked {
  background: #f5f5f5;
}

.chat-header__button_checked svg circle {
  fill: #3369f3;
}

.communication-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.message-container {
  height: calc(100vh - 108px);
  flex-direction: column-reverse;
  display: flex;
  overflow-y: scroll;
}

.message-row {
  width: calc(100% - 40px);
  height: min-content;
  flex-direction: row;
  margin: 10px 20px;
  display: flex;
}

.message-row_user {
  justify-content: flex-end;
}

.message-row_another-user {
  justify-content: flex-start;
}

.message {
  max-width: 402px;
  width: max-content;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.message_user {
  background: #f8f8f8;
}

.message_another-user {
  background: #e4edfd;
}

.message__text {
  color: #1e1e1e;
  margin: 0;
  padding: 11px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.message__image {
  object-fit: cover;
  width: 316px;
  height: 211px;
}

.message__time {
  box-sizing: border-box;
  width: min-content;
  color: #999;
  height: 15px;
  background: none;
  align-items: flex-end;
  gap: 4px;
  margin: 0 0 0 4px;
  font-size: 9px;
  line-height: 9px;
  display: flex;
  position: relative;
}

.message__time_text {
  float: right;
}

.message__time_image {
  color: #fff;
  background: #52525280;
  border-radius: 30px;
  padding: 2px 7px;
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.message__time svg {
  height: 9px;
}

.message__status-reading {
  justify-content: center;
  align-items: center;
  display: flex;
}

.message__status-reading_unread svg line {
  stroke: #999;
}

.message-input {
  width: 100%;
  height: 54px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.message-input__container {
  box-sizing: border-box;
  height: 100%;
  border-top: 1px solid #eaeaea;
  grid-template-columns: 30px 1fr 30px;
  gap: 10px;
  margin: 0 20px;
  padding: 11px 0;
  display: grid;
}

.message-input__button-add {
  width: min-content;
  height: min-content;
  background: none;
  border: none;
  outline: none;
}

.message-input__label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #efefef;
  border-radius: 30px;
  margin: 0;
}

.message-input__input {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0 11px;
  font-size: 12px;
  line-height: 12px;
}

.message-input__button-send {
  width: 28px;
  height: 28px;
  background: #3369f3;
  border: none;
  border-radius: 14px;
  outline: none;
}

.field-actions {
  color: #1e1e1e;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  display: flex;
}

.popup-actions {
  width: 210px;
  z-index: 10;
  background: #fff;
  border-radius: 12px;
  flex-direction: column;
  padding: 7px 0;
  display: flex;
  position: absolute;
  box-shadow: 0 0 6px #00000024;
}

.popup-actions_top {
  top: 65px;
  right: 10px;
}

.popup-actions_bottom {
  bottom: 65px;
  left: 10px;
}

/*# sourceMappingURL=messenger.d0f944aa.css.map */
